<%- include('header'); -%> 
    <div class="content">
      <p id="names">names: Edmond Liu</p> 
      <p id="address">address: 170 Lees Ave</p> 
      <p id="phone">phone: 18931913322</p> 
      <p id="emails">emails: jl2058@hw.ac.uk</p> <br />
    </div>
<%- include('footer'); -%>