<%- include('header'); -%> 
    <div class="content">
      <form method="post" action="/api/login">
        <input type="text" name="username" placeholder="username"><br \>
        <input type="text" name="password" placeholder="password"><br \><br \>

        <button type="submit">submit</button><br \><br \>
    </form>
    </div>
<%- include('footer'); -%>