<%- include('header'); -%> 
    <div class="content">
      <form action="/api/register" method="POST">
        <input type="text" name="society" placeholder="society"><br \>
        <input type="text" name="contact" placeholder="contact"><br \>
        <input type="text" name="address" placeholder="address"><br \>
        <input type="text" name="zipcode" placeholder="zipcode"><br \>
        <input type="text" name="city" placeholder="city"><br \>
        <input type="text" name="phone" placeholder="phone"><br \>
        <input type="text" name="fax" placeholder="fax"><br \>
        <input type="text" name="confirmation" placeholder="confirmation"><br \>
        <input type="text" name="payment" placeholder="payment"><br \>
        <input type="text" name="Informations" placeholder="Informations"><br \>
        <input type="text" name="max_outstanding" placeholder="max_outstanding"><br \>

        <button type="submit" name="submit">submit</button>
    </form>
    </div>
<%- include('footer'); -%>